<a
href="{% url 'tool_page' tool_slug=tool.slug %}" hx-get="{% url 'tool_page' tool_slug=tool.slug %}" hx-target="body" hx-push-url="true"
class="group flex flex-col p-4 md:p-5bg-white border shadow-md rounded-xl hover:shadow-lg transition dark:bg-slate-900 dark:border-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
>
<div class="sm:flex sm:justify-between sm:gap-4">
  <div>
    <h3 class="text-xl font-bold text-blue-700 sm:text-xl mb-4">
      {{ tool.title }}
    </h3>
    <p class="max-w-[40ch] text-md text-gray-700">
      {{ tool.description }}
    </p>
    
  </div>

  <div class="">
    <img
      alt="{{ tool.title }}"
      src="{{ tool.image.url }}"
      class="h-20 w-20 rounded-lg object-contain"
    />
  </div>
</div>
<div class="mt-4">
  {% for tag in tool.topics.all %}
  <span class="whitespace-nowrap rounded-full bg-gray-100 px-2.5 py-0.5 text-xs text-gray-500">
    {{tag}}</span>
  {% endfor%}
</div>
</a>
  <!-- End Card -->