
{% extends '_base.html' %}
{% load static %}
{% block title %}Topics{% endblock title %}
{% block content %}
<div class="pb-24 sm:pb-32">
  <div class="mx-auto max-w-7xl">
      <h1 class="mt-2 text-4xl font-bold text-gray-900 sm:text-6xl">{{ tool.title }}</h1>
      <p class="mt-6 text-lg leading-8 text-gray-600">{{ tool.description }}</p>
  </div>
</div>

<ul>
    {% for post in posts %}
    <li>{{ post.title }}</li>  <!-- Adjust based on your Post model fields -->
{% endfor %}

</ul>
{% if tools%}
<h2>Tools</h2>
<div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grids-col-3 xl:grid-cols-3 gap-3 sm:gap-6">
    {% for tool in tools %}
      {% include 'reader/partials/tool-card.html' %}
    {% endfor %}
  </div>
  {% endif %}
{% endblock %}
